DST_CLUSTER_TOKEN=REPLACE_WITH_YOUR_KLEI_CLUSTER_TOKEN
DST_CLUSTER_DISPLAY_NAME=DST Dedicated Server
DST_CLUSTER_DESCRIPTION=
DST_CLUSTER_PASSWORD=
DST_MAX_PLAYERS=12
DST_AUTOBACKUP_INTERVAL_DAYS=10
DST_AUTOBACKUP_MAX_BACKUPS=10
